<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkeCSPQZz0BS79Zjv8A_jecLGXje-NzAk</string>
	<key>GCM_SENDER_ID</key>
	<string>509900710553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcdev.medium.TowerOfHanoi</string>
	<key>PROJECT_ID</key>
	<string>hanoi-cloud-functions</string>
	<key>STORAGE_BUCKET</key>
	<string>hanoi-cloud-functions.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509900710553:ios:4010595ae9493b051c8e08</string>
</dict>
</plist>